@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 0;
}
nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.section1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.section1 h1 {
  font-weight: 700;
}

.bri {
  color: #009FFD;
}
img{
  object-fit: cover;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {

    --background: 0.00 0.00% 100.00%;
    --foreground: 161.25 80.00% 3.92%;

    --primary: 160.12 84.08% 39.41%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 0.00 0.00% 100.00%;
    --card-foreground: 161.25 80.00% 3.92%;

    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 161.25 80.00% 3.92%;

    --secondary: 0.00 0.00% 100.00%;
    --secondary-foreground: 0.00 0.00% 0.00%;

    --muted: 158.82 54.84% 93.92%;
    --muted-foreground: 0.00 0.00% 40.00%;

    --accent: 158.82 54.84% 93.92%;
    --accent-foreground: 159.23 86.67% 5.88%;

    /* --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 0% 0%;*/
    /* --primary: 142.1 76.2% 36.3%; */
    /* --primary: 156 81% 40%; */
    /* --primary-foreground: 355.7 100% 97.3%; */
    /* --secondary: 240 4.8% 95.9%; */
    /* --secondary: 0 0% 0% ;*/
    /* --secondary-foreground: 240 5.9% 10%; */
    /* --muted: 240 4.8% 95.9%; */
    /* --muted-foreground: 240 3.8% 46.1%; */
    /* --accent: 240 4.8% 95.9%; */
    /* --accent-foreground: 240 5.9% 10%; */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 92.94%;
    --input: 160.00 20.39% 79.80%;
    --ring: 160.12 84.08% 39.41%;

    --chart-1: 160.12 84.08% 39.41%;
    --chart-2: 160.00 58.06% 48.63%;
    --chart-3: 159.82 55.00% 60.78%;
    --chart-4: 160.00 55.03% 66.86%;
    --chart-5: 159.74 55.40% 72.75%;

    --radius: 0.5rem;

  }

  .dark {

    --background: 0.00 0.00% 0.00%;
    --foreground: 159.23 56.52% 90.98%;

    --primary: 160.12 84.08% 39.41%;
    --primary-foreground: 161.25 80.00% 3.92%;

    --card: 0.00 0.00% 0.00%;
    --card-foreground: 159.23 56.52% 90.98%;

    --popover: 0.00 0.00% 0.00%;
    --popover-foreground: 159.23 56.52% 90.98%;

    --secondary: 159.66 83.10% 13.92%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;

    --accent: 159.66 83.10% 13.92%;
    --accent-foreground: 159.23 56.52% 90.98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 160.00 85.71% 2.75%;
    --input: 158.82 17.53% 19.02%;
    --ring: 160.12 84.08% 39.41%;

    --chart-1: 160.12 84.08% 39.41%;
    --chart-2: 160.28 83.63% 33.53%;
    --chart-3: 160.36 84.62% 25.49%;
    --chart-4: 160.00 83.78% 21.76%;
    --chart-5: 160.26 84.44% 17.65%;

    --radius: 0.5rem;

  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/*
  ========================= CUSTOM STYLES ===================================
*/
.primary-text {
  @apply text-slate-600 dark:text-white
}

.secondary-text {
  @apply text-slate-500 dark:text-slate-200 opacity-60
}
.tab-trigger-style {
  @apply ring z-20 rounded-full font-bold w-12 h-12
}

.tab-trigger-style-active {
  @apply bg-primary text-primary-foreground ring-ring
}
.tab-trigger-style-disabled {
  @apply bg-primary-foreground text-primary ring-muted
}
.placeholder-style {
  @apply placeholder:text-slate-500 dark:placeholder:text-slate-300 placeholder:opacity-60
}

