@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {

    --background: 0.00 0.00% 100.00%;
    --foreground: 161.25 80.00% 3.92%;

    --primary: 160.12 84.08% 39.41%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 0.00 0.00% 100.00%;
    --card-foreground: 161.25 80.00% 3.92%;

    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 161.25 80.00% 3.92%;

    --secondary: 0.00 0.00% 100.00%;
    --secondary-foreground: 0.00 0.00% 0.00%;

    --muted: 158.82 54.84% 93.92%;
    --muted-foreground: 0.00 0.00% 40.00%;

    --accent: 158.82 54.84% 93.92%;
    --accent-foreground: 159.23 86.67% 5.88%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 92.94%;
    --input: 160.00 20.39% 79.80%;
    --ring: 160.12 84.08% 39.41%;

    --chart-1: 160.12 84.08% 39.41%;
    --chart-2: 160.00 58.06% 48.63%;
    --chart-3: 159.82 55.00% 60.78%;
    --chart-4: 160.00 55.03% 66.86%;
    --chart-5: 159.74 55.40% 72.75%;

    --radius: 0.5rem;

  }

  .dark {

    --background: 0.00 0.00% 0.00%;
    --foreground: 159.23 56.52% 90.98%;

    --primary: 160.12 84.08% 39.41%;
    --primary-foreground: 161.25 80.00% 3.92%;

    --card: 0.00 0.00% 0.00%;
    --card-foreground: 159.23 56.52% 90.98%;

    --popover: 0.00 0.00% 0.00%;
    --popover-foreground: 159.23 56.52% 90.98%;

    --secondary: 159.66 83.10% 13.92%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;

    --accent: 159.66 83.10% 13.92%;
    --accent-foreground: 159.23 56.52% 90.98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 160.00 85.71% 2.75%;
    --input: 158.82 17.53% 19.02%;
    --ring: 160.12 84.08% 39.41%;

    --chart-1: 160.12 84.08% 39.41%;
    --chart-2: 160.28 83.63% 33.53%;
    --chart-3: 160.36 84.62% 25.49%;
    --chart-4: 160.00 83.78% 21.76%;
    --chart-5: 160.26 84.44% 17.65%;

    --radius: 0.5rem;

  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/*
  ========================= CUSTOM STYLES ===================================
*/
.primary-text {
  @apply text-slate-600 dark:text-white
}

.secondary-text {
  @apply text-slate-500 dark:text-slate-200 opacity-60
}
.tab-trigger-style {
  @apply ring z-20 rounded-full font-bold w-12 h-12
}

.tab-trigger-style-active {
  @apply bg-primary text-primary-foreground ring-ring
}
.tab-trigger-style-disabled {
  @apply bg-primary-foreground text-primary ring-muted
}
.placeholder-style {
  @apply placeholder:text-slate-500 dark:placeholder:text-slate-300 placeholder:opacity-60
}

